body
{
font-display: center;
background-color: rgb(75, 247, 75);
}

h1 {
    color: black;
    text-align: center;
    font-family: cursive;
    font-style: inherit;
}
.frutas {
    font-weight: 100;
    color: #333;
    border-style:dashed; 
    border-color: rgb(22, 34, 201);
    border-width: 2px;
    font-style: inherit;
    font-size: 20px;
   
}

.frutas-item {
  /*  display: inline-block; */
}

.frutas-item a {
    text-decoration: none;
    color: #333;
}
#drinks {
    stroke: coral;
    border-style: dashed;
    font-weight: 100;
    color: #333;
    border-style:dashed;
    border-color: rgb(0, 1, 2);
    border-width: 2px;
    font-style: inherit;
    font-size: 20px;

}
.carnes {
     border-style:dashed;
    font-family: cursive;
    font-style: inherit; 
}