* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lawngreen;
}

.nav {
    background-color: rgb(252, 248, 0);
    width: 250px;
    height: 490px;
    margin-top: 35px;
}

.nav ol {
    background-color: blue;
    height: 100px;
    width: 200px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

