:root {
    --primary-color: gold;
    --secundary-color: lawngreen;
    --header-size: 4rem;
    --font: 1.8rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}
main {
    width: 100vw;
    height: 70vh;
    font-size: 2rem;
}
h1 {
    font-size: 4.5rem;
}
footer{
    width: 100vw;
    height: 15vh;
    background-color: var(--secundary-color);
}